*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #2D3E50;
}

.main-container{
    display: grid;
    grid-template-columns: 0.3fr 1fr 0.3fr;
    grid-template-rows: 0.02fr 1fr 0.02fr;
}

.sub-main-container{
    background: linear-gradient(to right, #000066 12%, #3366cc 99%);
    border-radius: 35px;
    color: black;
    grid-column: 2/span 1;
    grid-row: 2/span 1;
    display:grid;
    grid-template-columns: 0.02fr 1fr 0.02fr;
    grid-template-rows: 0.02fr 0.1fr 0.06fr 0.02fr;
}

.interim{
    opacity: 0.7;
}

.input-box-container{
    grid-column: 2/span 1;
    grid-row: 3/span 1;
    display: grid;
    grid-template-columns: 1fr 0.1fr 0.1fr;
    justify-items: center;
    align-items: center;
}

.input-box{
    outline: none;
    font-size: 150%;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    box-shadow: 5px 5px #888888;
}

.button{
    outline: none;
}

.button:hover{
    outline: none;
    opacity: 0.7;
}

.button:active{
    outline: none;
    box-shadow: 5px 5px none;
    transform: scale(0.7, 0.7)
}

.conversation-container{
    width: 100%;
    grid-column: 2/span 1;
}

.conversation{
    list-style-position: inside;
    padding-left: 0;
    margin-top: 2%;
}

.text-container{
    padding: 0.5em 0.5em 0.5em 0.5em;
    margin: 0.2em;
    border: 1px solid black;
    border-radius: 5px;
    font-size: x-large;
}

.bot-text{
    background-color: #2D3E50;
    color: ivory;
}

.user-text{
    background-color: ivory;
    text-align: right;
}

@media (max-width: 1100px){
    .main-container{
        grid-template-columns: 0.1fr 1fr 0.1fr;
    }
    .sub-main-container{
        border-radius: 15px;
        grid-template-rows: 1fr;
        position: absolute;
        bottom: 0;
    }
    .input-box{
        font-size: 130%;
    }
}

@media (max-width: 450px){
    .main-container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        padding: 5px 2px 5px 2px;
    }
    .input-box{
        font-size: 130%;
    }
    .sub-main-container{
        border-radius: 15px;
        grid-template-rows: 1fr;
        position: absolute;
        bottom: 0;
    }
    .conversation{
        overflow: scroll;
    }
}